.formulario_container {
    width: auto; /* Aumenté el ancho del contenedor para dar espacio a la vista previa */
    height: 100%;
    padding: 120px 0;
    margin-left: 250px;
    display: flex;
    flex-direction: row; /* Cambié de 'column' a 'row' para alinear la vista previa a la derecha */
    gap: 20px; /* Aumenté el espacio entre el formulario y la vista previa */
    align-items: flex-start; /* Alinea la vista previa con el inicio del formulario */
}

.form_section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.form_section label {
    align-self: flex-start;
}

.formulario_input {
    width: 416px;
    height: 48px;
    font-size: 20px;
}

.preview_container {
    max-width: 300px;
    padding: 20px;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0; /* Evita que la vista previa se reduzca si hay poco espacio */
}

.button_container {
    display: flex;
    gap: 100px;
    flex-direction: row-reverse;
    margin-top: 20px; /* Asegura que los botones tengan espacio entre el formulario y la vista previa */
}

.formulario_boton{
    width: 100px;
    height: 30px;
    background: #2c2c2c;
    border-radius: 51px;
    margin-top: 20px;
    
}
