.playlist-form {
    display: flex;
    flex-direction: column; /* Los elementos hijos se renderizan en una columna */
    width: 50px; /* Ajusta el ancho del formulario según tus necesidades */
    margin: auto; /* Centra el formulario horizontalmente */
    flex-direction: initial;
    
  }

  .form-group input {
    width: 100%; /* Asegura que el campo de entrada ocupe todo el ancho del contenedor */
    padding: 8px; /* Añade espacio dentro del campo de entrada */
    border: 1px solid #ccc; /* Añade un borde */
    border-radius: 4px; /* Redondea las esquinas del campo de entrada */
  }

  .form-content {
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: 250px;
    padding: 10px;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    

  }

 .form-button {
    margin-left: 180px;
 }