.frame_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.frame_info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.frame_img {
  width: 48px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.text_description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
