.header {
  display: flex;
  width: 100%;
  height: 96px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: #0C090B;
  z-index: 10;
  border-bottom: 1px solid rgb(58, 58, 58);
}
.logo {
  width: 232px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-shrink: 0;
}

.profile_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
}

.profile_container input {
  font-size: 14px;
  padding: 12px;
  width: 416px;
}

.profile_container img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}