/* src/components/Header.css */
.header {
    margin-left: 13%;
    display: flex;
    
    align-items: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    width: auto;
    gap: auto;
  }
  
  .logo {
    font-size: 1em;
    
  }
  
  .search {
    flex: 1;
    margin: 0.1px;
    padding: 1px;
    width: 50%;
    height: 48px;
    border-radius: 4px;
    font-size: 22px;
    
  }
  
  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 100vw;
    
  }

  