.background {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
/*esta es la forma de comentar*/

/*esta es la forma de comentar2 */

/*esta es la forma de comentar3 */


/*aca pongo los iconos */
/*MarcoF
/*pc Work*/
/* main
    