#root {
  /*max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;*/
  width: 100%;
}

body {
  background-color: rgb(221, 39, 39);
  color: white; /* Para asegurar que el texto sea visible */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  color: black
}

.read-the-docs {
  color: #888;
}


.app {
  font-family: Arial, sans-serif;
  color: #ece4e4;
}
.container{
  display: flex;
}
.sidebar {
  width: 150px;
}

main {
  flex-direction: initial; 
  margin-left: 130px;
  /*padding: 20px;*/
  background-color: rgb(9, 10, 8);
 margin-bottom: 100px;
  
}
.content {
  margin: auto;
}

.section {
  display: flex;
  flex-direction: column;
  border: 2px ;  /* Borde fijo */
  padding: 16px;
  box-sizing: border-box;
  overflow-x: auto;  /* Habilitar el desplazamiento horizontal */
  white-space: nowrap;  /* Prevenir que los elementos hijos se ajusten a la línea siguiente */
  max-width: 70%;  /* Limitar el ancho máximo de la sección */
  
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espacio entre los elementos */
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 10px;

}

.album-list,
.artist-list {
  display: flex;
  flex-wrap: wrap
  
}

.Filtros {
  display: flex;
  gap: 10px;
  margin-top: 60px;
  margin-left: 120px;
  }
  
li {
  list-style-type: none;
}  

ul {
padding: 20px;
}
